<dx-diagram
  id="diagram"
  units="cm"
  viewUnits="cm"
  [showGrid]="false"
  [simpleView]="true"
>
  <dxo-page-size
    [height]="29.7"
    [width]="21"
    pageOrientation="landscape"
    [items]="[{ text: 'A4 (21cm x 29.7cm)', width: 21, height: 29.7 }]"
  >
  </dxo-page-size>

  <dxo-nodes
    [dataSource]="actividadesDatasource"
    keyExpr="id"
    textExpr="nombre"
    [typeExpr]="getType"
  >
    <dxo-auto-layout type="tree"></dxo-auto-layout>
  </dxo-nodes>
  <dxo-edges
    [dataSource]="secuencialesDatasource"
    keyExpr="id"
    fromExpr="id_actividad_desde"
    toExpr="id_actividad_hasta"
    textExpr="descripcion"
  ></dxo-edges>

  <dxo-history-toolbar [visible]="false"></dxo-history-toolbar>
  <dxo-toolbox visibility="hidden"> </dxo-toolbox>
  <dxo-view-toolbar [commands]="['fullScreen', 'zoomLevel']"></dxo-view-toolbar>
</dx-diagram>
